$fireColor: rgb(255, 80, 0);
$fireColorT: rgba(255, 80, 0, 0);
$dur: 1s;
$blur: 0.02em;
$fireRad: 3em;
$parts: 50;
$partSize: 5em;

.fire {
  width: 10em;
  height: 7em;
  position: relative;
  padding-bottom: 5px;
  font-size: 5px;
  filter: blur(0.02em);
  -webkit-filter: blur(0.02em);
  margin: 3em auto 0 auto;
  transform: rotate(223deg);
  top: 7px;
  left: -65px;

}

.fireParticle {
  animation: rise $dur ease-in infinite;
  background-image: radial-gradient($fireColor 20%, $fireColorT 70%);
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: $partSize;
  height: $partSize;
  @for $p from 1 through $parts {
    &:nth-of-type(#{$p}) {
      animation-delay: $dur * random();
      left: calc((100% - #{$partSize}) * #{($p - 1)/$parts});
    }
  }
}

@keyframes rise {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-10em) scale(0);
  }
}


.header {
  background-color: #20232a;
  color: #ffffff;
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 10%;
  top: 0;
  left: 0;

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    .logo {
      display: flex;
      align-items: center;

      .appLogo {

        height: 40px;
        pointer-events: none;
        @media (prefers-reduced-motion: no-preference) {
          animation: App-logo-spin infinite 20s linear;
        }
        @keyframes App-logo-spin {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(360deg);
          }
        }
      }

      .title {
        color: rgb(97, 218, 251);
        margin-left: 10px;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 20px;
        text-decoration: none;
      }
    }

    .modesInner {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      right: -61px;

      .angularLogoLarge {
        width: 150px;
        height: 40px;
        @media screen and (max-width: 500px) {
          display: none;
        }
      }

      .angularLogo {
        width: 40px;
        height: 40px;
        @media screen and (min-width: 500px) {
          display: none;
        }
      }

      .rocket {
        width: 60px;
        height: 60px;
      }
    }

    @media screen and (max-width: 700px) {
      padding: 0 1rem 0 1rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
