@import '../Common/styles/scss/mixin.scss';
@import '../Common/styles/scss/variables.scss';

.contactsBlock {
  height: 60%;
  padding: 60px 0;
  background-color: $bgSecondaryColor;
  .container {
    height: 400px;
    width: 85%;
    border: 1px solid;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    .contactForm {
      width: 50%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .inputStyle {
      }
      &textarea {
      }

      .submitBtn {
        width: 100px;
        padding: 10px 20px;
        background: aqua;
      }
    }
  }
}
