.nav {
  width: 600px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1000px) {
  .nav {
    display: none;
  }
}
.navList {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.a {
  color: white;
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5rem;
}

.a:hover {
  color: rgb(97, 218, 251);
  transition: all 0.3s;
}
