.skill {
  width: 250px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  width: 60px;
  height: 60px;
  background-color: rgb(175, 171, 171);
}

