@import '../../Common/styles/scss/mixin.scss';
@import '../../Common/styles/scss/variables.scss';

.skill {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin: 0 auto;
  .icon {
    height: 60px;
    width: 60px;
    .iconItself {
      color: $primaryColor;
    }
  }
  .title {
    font-weight: 700;
    color: $primaryColor;
    font-size: 18px;
  }
  .description {
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: $textColor;
    margin: 0 0 20px;
  }
}
