@import '.././Common/styles/scss/variables.scss';
@import '.././Common/styles/scss/mixin.scss';

.jobBlock {
  background-color: #333a47;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  .jobContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .title {
      text-align: center;
      color: $textColor;
      font-family: 'Oswald', sans-serif;
      font-weight: 500;
      font-size: 2rem;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    .buttonsContainer {
      margin-bottom: 20px;
      .jobButton {
        color: $bgPrimaryColor;
        padding: 5px 20px;
        border: 0;
        outline: transparent;
        width: max-content;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-family: 'Rambla', sans-serif;
        font-size: 1.5rem;
        line-height: 1.75;
        font-weight: 400;
        border-style: solid;
        border-width: 0;
        background-color: $primaryColor;
        border-radius: 0;
        float: left;
        margin-right: 10px;
        margin-left: 10px;
        a {
          color: $textColor;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
