.title {
  margin: 0 0 30px;
  position: relative;
}

.title h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 2px;
}

.title::before {
  content: '';
  position: absolute;
  background: rgb(97, 218, 251);
  width: 55px;
  height: 3px;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 50%);
}
