.worksBlock {
  height: 100vh;
  background-color: rgb(158, 167, 216);
}
.worksContainer {
  height: 100%;
  width: 80%;
  border: 1px solid;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  background-color: blue;
}
.works {
  border: 1px solid;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
