@import "./src/common/styles/scss/mixin";
@import "./src/common/styles/scss/variables";


////////////////////
.mainBlock {
  min-height: 100%;
  background-color: $bgPrimaryColor;
  overflow-x: hidden;
  display: flex;
  padding-top: 60px;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
  }
  .container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    .photo {
      width: 500px;
      padding: 10px;
      @media only screen and (max-width: 768px) {
        width: 350px;
      }
    }
    .logoImg {
      transform: translate(0);
      width: 100%;
      padding: 50px 0 0 0;
      position: absolute;
      top: 50vh;
      transform: translateY(-50%);
      right: -500px;
      width: 1000px;
      z-index: -3;
    }
    .text {
      padding: 10px;
      width: 400px;
      background-color: $primaryColor;
      border-radius: 30px;
      color: $textColor;
      font-size: 1.7rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;

      .name {
        padding: 15px;
        color: $bgPrimaryColor;
        font-size: 40px;
        margin: 0;
        letter-spacing: 0.01em;
      }

      p {
        margin: 0;
      }
    }

    @media only screen and (max-width: 768px) {
      justify-content: center;
    }
  }
}

.darkMode {
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

