@import "./src/common/styles/scss/mixin";
@import "./src/common/styles/scss/variables";

.BurgerNuv {
  width: 50px;
  height: 50px;
  background-color: #090b0e;
  position: relative;
  //top: 40px;
  //right: 50px;

  .BurgerNuvBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;


    .BurgerNuvList {
      position: absolute;
      width: 150px;
      height: 130px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      top: 25px;
      right: 0px;
      background-color: #20232a;
      opacity: 0.9;
      
      .a {
        color: white;
        width: 250px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        font-size: 1.5rem;

        &:hover {
          color: rgb(97, 218, 251);
          transition: all 0.3s;
        }
      }
    }
  }

  @media screen and (min-width: 1000px) {
    display: none;
  }
}




