@import '../../styles/scss/mixin.scss';
@import '../../styles/scss/variables.scss';

.default {
  // width: 100px;
  // height: 40px;
  // cursor: pointer;
  // text-align: center;
  // text-decoration: none;
  // outline: none;
  // color: #fff;
  // font-size: 16px;
  // background-color: #61dafb;
  // border: none;
  // border-radius: 15px;
  color: $textColor;
  padding: 5px 20px;
  border: 0;
  outline: transparent;
  width: max-content;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: 'Rambla', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  border-style: solid;
  border-width: 0;
  background-color: $primaryColor;
  border-radius: 0;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  &:hover {
    text-decoration: underline;
  }
  a {
    color: $textColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.default:hover {
  opacity: 0.5;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
}

.default:active {
  background-color: #61dafb;
  transform: translateY(4px);
}

.default:disabled {
  background-color: #9ba19b;
  box-shadow: 0 0px #666;
  transform: translateY(4px);
  opacity: 0.6;
  cursor: not-allowed;
}

.red {
  width: 70px;
  height: 40px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background-color: red;
}

.red:hover {
  background-color: #61dafb;
}

.red:active {
  background-color: #61dafb;
  transform: translateY(4px);
}
