@import '../../Common/styles/scss/variables.scss';
@import '../../Common/styles/scss/mixin.scss';

.project {
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
  background-color: $bgSecondaryColor;
  .img {
    height: 260px;
    background-color: rgb(38, 126, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    :hover {
      background-color: none;
    }
    & a {
      position: relative;
      z-index: 2;
    }

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.2;
    }
  }
  .descriptionBlock {
    height: 120px;
    padding: 25px 20px;
    background-color: $bgSecondaryColor;

    .title {
      margin: 0 0 5px;
      text-align: start;
      color: $textColor;
      font-weight: 700;
      color: $primaryColor;
      font-size: 1.3rem;
    }

    .description {
      width: 100%;
      font-size: 1.2rem;
      line-height: 1.75em;
      font-weight: 400;
      color: $textColor;
      margin: 0 0 20px;
    }
  }
}
