@import '../../Common/styles/scss/variables.scss';
@import '../../Common/styles/scss/mixin.scss';

.project {
  width: 540px;
  display: flex;
  flex-direction: column;
  margin: 0 0 30px;
  background-color: $bgSecondaryColor;

  @media screen and (max-width: 577px) {
    & {
      width: 350px;
    }
  }

  @media screen and (max-width: 453px) {
    & {
      width: 289px;
    }
  }

  .img {
    height: 260px;
    background-color: rgb(38, 126, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    & a {
      background-color: $primaryColor;
      padding: 10px 20px;
      position: relative;
      z-index: 2;
    }

    &::before {
      position: absolute;
      content: '';
      background-color: black;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.2;
    }
  }
  .descriptionBlock {
    padding: 25px 20px;
    background-color: $bgSecondaryColor;

    .title {
      @include text(1.17em, 1.2);
      margin: 0 0 5px;
      text-align: start;
    }

    .description {
      width: 100%;
      line-height: 1.8;
      font-weight: 400;
      font-size: 12px;
      color: $textColor;
      text-align: start;
    }
  }
}
