.nav {
  border: 1px solid;
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navList {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.a {
  color: white;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  text-decoration: none;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
}

.a:hover {
  color: rgb(97, 218, 251);
}
