.nav {
  border: 1px solid;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.navList {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.aLight {
  color: #ffffff(0, 0, 0);
  text-decoration: none;
}

.aDark {
  color: #ffffff(15, 15, 15);
  text-decoration: none;
}
