@import "./src/common/styles/scss/mixin";
@import "./src/common/styles/scss/variables";

.footer {
  min-height: 20%;
  background-color: #090b0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    color: $primaryColor;
    font-size: 1.8rem;
  }
  .icons {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div .icon {
    margin-top: 10px;
    height: 50px;
    width: 50px;
    color: black;
    transition: 0.5s all;
    .iconItself {
      color: white;
      &:hover {
        color: $primaryColor;
        transition: all 0.3s;
      }
    }
  }
  .reserved {
    font-size: 1rem;
    line-height: 2em;
    color: $textColor;
    font-family: 'Rambla', sans-serif;
    margin-bottom: 20px;
  }
}
