@import '../Common/styles/scss/mixin.scss';
@import '../Common/styles/scss/variables.scss';

.footer {
  height: 20%;
  background-color: #090b0e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    color: $primaryColor;
  }
  .icons {
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div .icon {
    margin-top: 10px;
    height: 50px;
    width: 50px;
    color: black;
    transition: 0.5s all;
    &:hover {
      opacity: 0.3;
      transition: all 0.3s;
    }
  }
  .reserved {
    margin: 0;
    font-size: 14px;
    line-height: 2em;
    color: $textColor;
    font-family: 'Rambla', sans-serif;
    margin-bottom: 20px;
  }
}
