@import "./src/common/styles/scss/mixin";
@import "./src/common/styles/scss/variables";

.AboutMeBlock {
  display: flex;
  align-items: center;
  background-color: $textColor;
  padding: 60px 0;
  min-height: 60%;
  .container {
    @include container();
    border: none;
    .smallContainer {
      display: flex;
      width: 100%;
      @media only screen and (max-width: 1288px) {
        display: flex;
        flex-direction: column;
      }

      .description {
        width: 50%;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 1297px) {
          width: 100%;
        }
        .header {
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          .title {
            font-size: 2rem;
            padding-bottom: 40px;
          }
        }

        .descText {
          flex-direction: column;
          padding: 0 0 20px;
          p {
            margin: 0 40px 0 0;
            padding: 0 3px;
            font-size: 1.2rem;
            word-break: break-word;
          }
        }
      }
      .code {
        width: 100%;
        height: 400px;
        display: flex;
        @media only screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
        }
        .editor {
          width: 100%;
          height: 100%;
          background-color: #20232a;

          border-bottom-left-radius: 15px;
          border-top-left-radius: 15px;
          @media screen and (max-width: 768px) {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
          }

          .header {
            border-top-left-radius: 15px;
            height: 40px;
            background-color: $bgPrimaryColor;
            padding-left: 10px;
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width: 768px) {
              border-top-right-radius: 15px;
            }
            & button {
              border-radius: none;
              height: 100%;
            }
            & p {
              color: #999;
              font-size: 14px;
              font-weight: 700;
              line-height: 3;
              text-transform: uppercase;
              text-align: start;
              letter-spacing: 0.08em;
              margin: 0;
            }
          }
          .codeText {
            color: $textColor;
            padding: 10px;
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            @media only screen and (max-width: 532px) {
              font-size: 0.9rem;
            }
          }
        }
        .result {
          width: 100%;
          border: 0.1px solid grey;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          @media only screen and (max-width: 768px) {
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
          }
          .resultHeader {
            padding-left: 10px;
            background-color: rgb(177, 177, 177);
            border-top-right-radius: 15px;
            @media only screen and (max-width: 768px) {
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
            }
            .resultHeaderText {
              color: rgb(109, 109, 109);
              font-size: 14px;
              font-weight: 700;
              line-height: 3;
              text-transform: uppercase;
              text-align: start;
              letter-spacing: 0.08em;
              margin: 0;
            }
          }
          .resultText {
            padding: 10px;
            font-size: 1.1rem;
           
          }
        }
      }
    }
  }
}
