@import '../Common/styles/scss/mixin.scss';
@import '../Common/styles/scss/variables.scss';

.AboutMeBlock {
  width: 100vw;
  height: 100vh;
  background-color: $textColor;
  padding: 60px 0;

  .container {
    @include container();
    .description {
      .descText {
        background-color: red;
      }
      .code {
      }
    }
  }
}
