.skillsBlock {
  height: 100vh;
  background-color: rgb(158, 167, 216);
}
.skillsContainer {
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  background-color: blue;
}
.skills {
  border: 1px solid;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
